<!-- your html code here -->
<div class="container">
    <h2>Porfolio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Curabitur ut justo
      nec arcu tincidunt cursus.
      Nulla facilisi. Aliquam erat volutpat. Ut auctor turpis id eros ullamcorper, sed laoreet felis fermentum. Etiam sed
      orci magna.</p>
    <div class="d-flex flex-wrap justify-content-center gap-3">
      <div class="card" style="width: 400px;">
        <img src="./assets/img/big-project-image.png" class="card-img-top" alt="Imagen 1"
          style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Card 1</h5>
          <p class="card-text">Contenido de la primera card.</p>
        </div>
      </div>
  
      <div class="card" style="width:400px;">
        <img src="./assets/img/big-project-image.png" class="card-img-top" alt="Imagen 2"
          style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Card 2</h5>
          <p class="card-text">Contenido de la segunda card.</p>
        </div>
      </div>
  
      <div class="card" style="width: 400px;">
        <img src="./assets/img/big-project-image.png" class="card-img-top" alt="Imagen 3"
          style="height: 200px; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">Card 3</h5>
          <p class="card-text">Contenido de la tercera card.</p>
        </div>
      </div>
    </div>
  </div>